<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{base_url}}/static/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">    <link rel="icon" type="image/x-icon" href="{{base_url}}/static/images/{{icon_path}}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="navbar-custom">
        <a class="left" style="text-align: center;" href="{{base_url}}/">
            <img src="{{base_url}}/static/images/{{icon_path}}">
            <a href="{{base_url}}/" class="left" id="main-link">{{website_name}}</a> 
        </a>
    </div>

    <div class="menu">
        <!-- <a class="menu-link left" href="{{base_url}}/about">about</a> -->
        <a class="menu-link right" href="https://github.com/eselizabeth/inker">demo i</a>
        <a class="menu-link right" href="https://github.com/eselizabeth/inker">demo ii</a>
        <a class="menu-link right" href="https://github.com/eselizabeth/inker">github</a>
    </div>

    {{navigation}}

    </div>
    {% block content %}
    {% endblock content %}
    {{live_reload}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% block custom_script %}
    {% endblock custom_script %}
</body>
</html>